*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: antiquewhite;
}
header{
    height: 10vh;
    width: 100%;
    display: flex;
    border: 1px gray solid;
    border-radius: 50px;
}
.logo-header{
    background-image: url('../pictures/001.png');
    background-repeat: no-repeat;
    width: 10%;
    background-size: 80px 80px;
    background-position: 50% 50%;
}
.slogan{
    text-align: center;
    width: 60%;
    height: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    padding-top: 15px;
}
.user-name{
    width: 10%;
    height: 80%;
    margin-top: 6px;
    margin-left: 3%;
    background-image: url('../pictures/user.png');
    background-position: 50% 50%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}
.logout{
    width: 10%;
    height: 80%;
    margin-top: 6px;
    margin-left: 5%;
    background-image: url('../pictures/logout.png');
    background-position: 50% 50%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}
.a2{
    display: block;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    position: 50% 50%;
    margin-top: 10%;
}
a{
    display: block;
    width: 30%;
    height: 70%;
    position: 50% 50%;
    margin-top: 10%;
}
.a1{
    display: block;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    position: 50% 50%;
    margin-top: 10%;
}
.abutton{
    width: 100%;
    text-align: center;
    color: black;
    height: 100%;
    margin-top: 0%;
}
.contenue{

    background-image: url('../pictures/basic white logo in page.png');
    background-size: 500px 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.double{
    height: 40vh;
    display: flex;
}
.double1{
    width: 40%;
    border: 1px gray solid;
    border-radius:50px ;
    height: 35vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5vh;
}
.double2{
    width: 40%;
    border: 1px gray solid;
    border-radius:50px ;
    height: 35vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5vh;
}
.image1{
    width: 80%;
    border: 1px gray solid;
    border-radius: 50px;
    height: 25vh;
    margin-left: 10%;
    margin-top: 1vh;
    background-color: rgb(165, 165, 165);
    background-image: url('../pictures/itachi black.png');
    background-size: 150px 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.image2{
    width: 80%;
    border: 1px gray solid;
    border-radius: 50px;
    height: 25vh;
    margin-left: 10%;
    margin-top: 1vh;
    background-color: rgb(165, 165, 165);
    background-image: url('../pictures/zoro\ green.png');
    background-size: 150px 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.image3{
    width: 80%;
    border: 1px gray solid;
    border-radius: 50px;
    height: 25vh;
    margin-left: 10%;
    margin-top: 1vh;
    background-color: rgb(165, 165, 165);
    background-image: url('../pictures/naruto\ white.png');
    background-size: 150px 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.image4{
    width: 80%;
    border: 1px gray solid;
    border-radius: 50px;
    height: 25vh;
    margin-left: 10%;
    margin-top: 1vh;
    background-color: rgb(165, 165, 165);
    background-image: url('../pictures/AOT\ white.png');
    background-size: 150px 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.image5{
    width: 80%;
    border: 1px gray solid;
    border-radius: 50px;
    height: 25vh;
    margin-left: 10%;
    margin-top: 1vh;
    background-color: rgb(165, 165, 165);
    background-image: url('../pictures/demonslayer\ black.png');
    background-size: 150px 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.description{
    text-align: center;
    color: black;
    padding-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    width: 80%;
    border: 1px gray solid;
    height: 4vh;
    margin-top: 1vh;
    border-radius: 50px;
    margin-left: 10%;
    background-color: rgb(199, 196, 196);
}
button{
    width: 50%;
    height: 3vh;
    border-radius: 50px;
    color: black;
    padding-top: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
}
.single{
    height: 35vh;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    border: 1px gray solid;
    border-radius: 50px;
    width: 40%;
    margin-left: 30%;
}
footer{
    border: 1px gray solid;
    height: 10vh;
    border-radius: 50px;
}
.contacts{
    display: flex;
    width: 60%;
    margin-left: 20%;
}
.c1{
    height: 28px;
    width: 20%;
   
    margin-left: 10%;
    margin-right: 5%;
    background-image:url('../pictures/insta.png') ;
    background-position: 50% 50%;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
.c2{
    height: 28px;
    width: 20%;
    
    margin-right: 5%;
    margin-left: 5%;
    background-image:url('../pictures/phone.png') ;
    background-position: 50% 50%;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.c3{
    height: 28px;
    width: 20%;
    
    margin-left: 5%;
    margin-right: 10%;
    background-image:url('../pictures/mail.png') ;
    background-position: 50% 50%;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}